.right {
	float: right;
}

.left {
	float: left;
}

.display {
	display: none;
}

.oddtr { background:#EEF2FB !important; }

.ontrfocus { background:#B5D0D9 !important; }/**/

body {
	font-family: 微软雅黑, Helvetica !important;
	font-size: 13px !important;
	background-color: #F7F8F9;
	margin: 0px;
	padding: 5px;
}

a {
	color: #336699;
	text-decoration: none;
}

.list {
	width: 100%;
	border: 0;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 800px;
	float: left;
}

.list thead tr td {
	background: #EEF2FB;
	height: 25px;
	border: 1px solid #B5D0D9;
	text-align: left;
	padding-left: 8px;
	/*min-width: 80px;*/
}

.list tbody tr td {
	height: 30px;
	border-bottom: 1px solid #E6F0F9;
	padding-left: 8px;
	/*min-width: 80px;*/
}

.list tfoot tr td {
	height: 40px;
	min-width: 800px;
	text-align: right;
	line-height: 35px;
	padding-top: 5px;
}

.list tfoot tr td .index {
	color: red;
}

.list tfoot tr td a {
	display: block;
	width: 65px;
	height: 21px;
	background: #EEF2FB;
	border: 1px solid #B5D0D9;
	float: right;
	margin-top: 4px;
	margin-right: 8px;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}

.list tfoot tr td a:hover {
	border: 1px solid #2694e8;
	color: #2694e8;
}

.list tfoot tr td .page {
	width: 35px;
	height: 17px;
	line-height: 17px;
	float: right;
	margin-top: 4px;
	margin-right: 5px;
}

.toolbar {
	margin: 0px;
	padding: 0px;
}

.toolbar a span {
	display: block;
	width: 22px;
	height: 25px;
	float: left;
	margin: 4px 0 0 10px;
}

.toolbar a {
	display: block;
	float: left;
	height: 23px;
	background: url("../images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
	border: 1px solid #B5D0D9;
	line-height: 23px;
	cursor: pointer;
	padding-right: 10px;
}

.toolbar a:hover {
	border: 1px solid #2694e8;
	color: #2694e8;
}

.toolbar .sperator {
	display: block;
	float: left;
	width: 3px;
	height: 25px;
	background: none;
	border: 0;
}

.toolbar .speratorbig {
	display: block;
	float: left;
	width: 20px;
	height: 25px;
	background: none;
	border: 0;
}

.subclear {
	display: block;
	width: 100%;
	height: 5px;
	float: left;
}

input.txtcls {
	width: 180px;
	height: 21px;
	border: 1px solid #B5D0D9;
	line-height: 23px;
}

input.inputcls {
	width: 188px;
	height: 21px;
	border: 1px solid #B5D0D9;
	line-height: 23px;
	padding-left: 5px;
}

select.inputcls {
	width: 196px;
	height: 25px;
	border: 1px solid #B5D0D9;
	line-height: 21px;
	padding: 2px 0;
}

input.filecls {
	border: 1px solid #B5D0D9;
}

.form {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 800px;
	float: left;
	border: 1px solid #E6F0F9;
}

.form tbody tr {
	height: 33px;
	line-height: 33px;
}

.form tbody tr td.title {
	width: 135px;
	background: #EEF2FB;
	text-align: right;
	padding-right: 10px;
	border-bottom: 1px solid #D6F0F9;
}

.form tbody tr td.title span {
	color: red;
}

.form tbody tr td.input {
	background: #FFFFFF;
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid #E6F0F9;
}

.form tbody tr td textarea {
	width: 900px;
	height: 250px;
}

.form tbody tr td textarea.editor {
	width: 900px;
	height: 350px;
	visibility: hidden;
}

.form tbody tr td textarea.editorsmall {
	width: 900px;
	height: 200px;
	visibility: hidden;
}

.smallimg {
	width: 194px;
	height: 194px;
	margin: 2px 2px 0 0;
	
}

.showCls {
	
}

.hideCls {
	
}
