body {
	font-family: 微软雅黑;
	font-size: 13px;
}

html, body, a, a:link, a:visited, a:hover, a:active, select, input, label, button, textarea {
	font-size: 13px;
}

.layout-panel-west { 
	border-right: 1px solid #c5c5c5; 
}

.index-spera {
	margin-left: 20px;
}

.index-link {
	width: 100%;
	height: 100%;
	display: block;
}

.common-menubutton {
	width: 150px;
}

.common-formgroup {
	margin-bottom: 15px;
}

.common-dialogcontent {
	width: 100%;
}

.dialog-body2 {
	padding: 10px;
}

.dialog-body {
	padding: 20px 20px 20px 30px;
}

.easyui-passwordbox + .textbox .textbox-addon .textbox-icon  {
	background-position: center;
}

.user-authority-tabs {
	width: 100%; 
	
}

.fl-right {
	float: right;
}

.input-width {
	width: 180px;
}

.fl-lineheight {
	line-height: 22px;
}

.order-product-close {
	text-align: center;
	cursor: pointer;
}

.webuploader-pick {
	background: transparent !important;
	padding: 0px !important;
	color: #666666 !important;
	height: 27px !important;
}

.order-edit-table {
	width: 97%;
	background: #DDDDDD;
	margin-top: 10px;
}

.order-edit-imglist {
	background: #eeeeee;
	padding: 5px;
}

.order-edit-imglist .item {
	float: left;
	margin: 0 7px; 
	width: 120px; 
	height: 115px;
}

.order-edit-imglist .item .imgdiv {
	width: 120px; 
	height: 100px;
}

.order-edit-imglist .item .imgdiv img {
	width: 120px;
	border: #FFF solid 1px;
	padding: 2px;
	max-width: 120px; 
	max-height: 90px;
}

.order-edit-caption {
	background: #DDF1FC;
}

tspan.title {
	font-size: 14px;
}

.order-hire-img {
	width: 80px;
	height: 80px;
}

.order-hire-content {
	line-height: 23px;
	white-space: pre-wrap;
}

.table-wrap-content {
	line-height: 23px;
	white-space: pre-wrap;
}

.wallet-userinfo .left1 {
	float: left;
	margin: 20px 20px 20px 40px;
}

.wallet-userinfo .left2 {
	float: left;
	margin: 20px 50px 20px 10px;
	line-height: 27px;
	font-size: 14px;
}

.wallet-userinfo .left3 {
	float: left;
	margin: 10px;
	margin: 20px 20px 20px 0px;
	line-height: 30px;
	width: 400px;
}

.wallet-userinfo .left3 .k1 {
	font-size: 28px;
	float: left;
	text-align: center;
	padding-top: 15px;
}

.wallet-userinfo .left3 .k2 {
	float: left;
	padding-top: 30px;
	margin-left: 30px;
}

.wallet-userinfo .left1 .cirle {
	border-radius: 5px;
}

.wallet-userinfo .caption {
	font-size: 15px;
}

.icon-zfb {
	background: url('../img/zfb.png');
	width: 114px;
	height: 40px;
	background-position: -10px -20px;
}